{% extends "base.html" %}
{% block body %}
<div id="forma" class="container">

	<form class="form-inline" role="form" method="POST" enctype="multipart/form-data" action="{{url_for('autodock')}}">
		<h2 class="form-signin-heading">Upload a <strong>zip</strong> file with all <em class="text-primary">AD4</em> files and an email address:</h2>
		<span> Include the <em class="text-info">grid.gpf</em> and <em class="text-info">dock.dpf</em> files.</span>
		<br>
		<br>
		<div class="row">
			<div class="from-group col-xs-4">
				<input id="file" type="file" name="file" placeholder="Upload zip file" required autofocus></textarea>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-xs-3">
				<input id="mail" name="mail" type="email" class="form-control" placeholder="Email address" required>
			</div>
			<button id="enviar" class="btn btn-primary" type="submit">Submit job</button>
		</div>
	</form>

</div>
{% endblock %}