<!DOCTYPE html>
<html>
	<head>
		<title>ZQ Processing ...</title>
		<meta name="description" content="Microwebsite to thank for input.">
		<meta name="keywords" content="PC GAMESS,Firefly,quantum,chemistry,quimica,cuantica">
		<meta name="author" content="Rony J. Letona">
		<meta charset="UTF-8">
		<link rel="stylesheet" href="../static/css/bootstrap.min.css">
		<link rel="stylesheet" href="../static/css/bootstrap-theme.min.css">
	</head>
	<body>

		<h2 class="text-danger">ERROR! The file you tried to upload isn't a <em>zip</em> file.</h2>	
		
		<script type="text/javascript" src="../static/js/jquery.min.js"></script>
		<script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
	</body>
</html>
