{% extends "base.html" %}
{% block body %}
<div id="forma" class="container">

	<form class="form-inline" role="form" method="POST" action="{{url_for('firefly')}}">
		<h2 class="form-signin-heading">Enter <em class="text-primary">Firefly</em> input file and email address:</h2>
		<div class="row">
			<div class="col-xs-6">
				<textarea id="data" name="data" class="form-control" rows="4" placeholder="Firefly input" required autofocus></textarea>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-xs-3">
				<input id="mail" name="mail" type="email" class="form-control" placeholder="Email address" required>
			</div>
			<button id="enviar" class="btn btn-primary" type="submit">Submit job</button>
		</div>
	</form>

</div>
{% endblock %}