{% extends "base.html" %}
{% block body %}
{% if 'username' in session %}
<div class="welcome-theme">
	<h1 class="welcome-title">Welcome to Zq Computational!</h1>
	<form class="form-group" role="form" method="POST" action="{{url_for('welcome')}}">
		<div class="row move-right">
			<div class="col-xs-12">
				<button id="salir" class="btn btn-danger" type="submit" name="logout">Sign out</button>
			</div>
		</div>
	</form>
</div>
{% else %}
<div id="main-view">
	<div class="left-side container">
	</div>
	<div id="forma" class="right-side container">
		<div class="login-box">
			<form class="form-group" role="form" method="POST" action="{{url_for('welcome')}}">
				<h3>Username:</h3>
				<div class="row">
					<div class="col-xs-7">
						<input id="usuario" name="usuario" type="text" class="form-control" cols="20" min="5" max="50" placeholder="Enter username" required>
					</div>
				</div>
				<br>
				<h3>Password:</h3>
				<div class="row">
					<div class="col-xs-7">
						<input id="clave" name="clave" type="password" class="form-control" cols="20" min="5" max="50" placeholder="Enter password" required>
					</div>
				</div>
				<br>
				<div class="form-inline">
					<div class="row move-right">
						<div class="col-xs-12">
							<a href="#">Clear</a>
							<button id="entrar" class="btn btn-primary" type="submit">Sign in</button>
						</div>
					</div>
				</div>
			</form>
			{% with messages = get_flashed_messages() %}
				{% for message in messages %}
{{ message }}
				{% endfor %}
			{% endwith %}
		</div>
	</div>
</div>
{% endif %}
{% endblock %}